main {
	display: grid;
	gap: 5rem 0;
	padding: 4rem 0;

	h1,
	h2 {
		flex-basis: 100%;
		grid-column: 1/-1;
	}

	section {
		display: grid;
		gap: 2rem 3.25rem;
		padding: 0 10vw;
	}

	footer {
		display: flex;
		justify-content: space-between;
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 1em 10vw;
	}

	#fetchoutput {
		display: grid;
		gap: 3em;
		align-content: flex-start;
	}

	@media screen and (1024px <=width) {
		section {
			padding: 0 7.5vw;
			grid-template-columns: repeat(3, 1fr);
			gap: 2rem 3.5rem;

			&:nth-of-type(1) {
				grid-template-areas:
					"h2 h2 h2"
					"p1 . .";

				p {
					&:nth-of-type(1) {
						grid-area: p1;
					}
				}
			}

			&:nth-of-type(2) {
				grid-template-columns: 1fr;

			}
		}

		#fetchoutput {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}